// Variables
@themes: "../css";
// Usage
@import "@{themes}/common.less";

//sub-main - .ad(div), .search(div)

.search{width:100%; background-color: @bgcolor1; font-size: 20px;}


//.search - form
form{width:85%; text-align: center; margin: 0px auto 10px auto; box-sizing: border-box;}

//.search form - p, p
input{width: 80%; height:40px; border: 1px solid @main; font-size: 18px; text-align: center; box-sizing: border-box; display: inline;}
.submit{.button(); width:20%; font-size: 16px; display: inline; margin:0px; float:right;}

//main - .login(div), ul(#uls)
.login{width:85%; margin:0 auto;}
#uls{padding: 10px; list-style: none;}


//.login - a
.login a{.button(); margin-bottom: @marginbottom-mbl; .border-radius();}
.clear{clear:both}

//#uls - li
#uls li{width:100%; background-color:@bgcolor2; .li-border(); padding:5px; box-sizing: border-box; .border-radius();}

//li - span, dl
li dl{cursor: pointer;}

//dl - dt, dd
dl dt{width: 90%; height:20px; line-height: 20px; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: bolder;}
dd{font-style: italic; font-size: 12px;}
dl .ddcontent{overflow: hidden; text-overflow: ellipsis; white-space:normal; font-size: 12px; line-height: 14px; height:28px; font-style: normal; margin-bottom: 5px;}

//dt - a
dt a{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: @main; text-decoration: none; display:block;}

/*for bigger windows*/
@media (min-width:768px){
    .ad{height:200px; margin-bottom: @marginbottom-com; font-size: 100px; line-height: 200px;}
    form p{width:80%; margin:0 auto;}
    login a{margin-bottom: @marginbottom-com;}
    
    dl dt{width: 90%; height:50px; line-height: 30px; margin-bottom: 10px; font-size: 20px;}
    dd{font-style: italic; font-size: 12px;}
    dl .ddcontent{font-size: 16px; line-height: 20px; height:60px; font-style: normal; margin-bottom: 10px;}

}
