@bgcolor1: #f6f6f6; //for all body
@bgcolor2: #323299; //for nav
@bgcolor3: #fbfbfb; // for section

@button-color: #e5e5f2;

@font-color1: black;
@font-color2: white;
@font-family: 'Lato', sans-serif;

//text size & color
@header-text-size: 25px;
@header-text-size-big: 50px;

*{margin:0px; padding:0px;}
.section-border{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
.button{
    width: 100%; height:60px; box-sizing: border-box; font-size: 20px; background-color:@button-color; display: inline-block; text-align: center; line-height: 60px; text-decoration: none; margin-bottom: 20px; border-style: none;
}

.search{width:100%; padding:0px; margin: 0 auto; background-color: @bgcolor1; margin-bottom: 20px;}
.login{width:100%;}

//.search - input
input{width:100%; height:50px; margin: 0 auto; font: 50px; display: block;}
.submit{.button();}

.login h2{text-align: center;}
.login a{.button();}

.clear{clear:both}


li span{border-left: 1px solid black; border-bottom: 1px solid black; float:right;}

li dd{display:inline;}

/*for bigger windows*/
@media (min-width:768px){
    
    input{width: 30%; height:40px; .section-border(); margin: 0 auto; font: 50px;}
    //section - .personal_p(div), .personal_t(div)
}
