//this common file is for body, header and nav and main tags only
//margin order : top right bottom left;
@bgcolor1: #ebedf2; //for all body(grey)
@bgcolor2: #ffffff; // for section

@main: #2e60f4; // blue main color
@maindark: #2043aa; // blue main color
@maindarker: #122661; // blue main color
@maindarkest: #040918; // blue main color
@mainlight: #6c8ff7; // blue main color
@mainlighter: #abbffa; // blue main color
@mainlightest: #eaeffd; // blue main color

@main2: #faff93; // blue main color
@mainlighter2: #fbffb3; // blue main color
@mainlightest2: #fdffd3; // blue main color

@button-color: #a0b3ef;
@font-color1: black;
@font-color2: white;
@font-family: 'Lato', sans-serif;

@marginbottom-mbl: 20px;
@marginbottom-com: 30px;


//text size & color
@header-text-size: 40px;
@header-text-size-big: 50px;

*{font-family: @font-family;}

.section-border{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
.button{
    width: 100%; height:60px; box-sizing: border-box; font-size: 20px; background-color:@button-color; display: inline-block; text-align: center; line-height: 40px; text-decoration: none; border-style: none;
}

body{width:100%; margin:0px; padding:0px; background-color: @bgcolor1;}

//body - header nav submain main footer
header{width: 100%; font-size: @header-text-size; height:120px; line-height: 90px; text-align: center; background-color: @bgcolor2}

nav{width:100%; margin-bottom: @marginbottom-mbl;}

.sub-main{width:100%; margin:0 auto; box-sizing: border-box; color:@font-color1; background-color: @bgcolor1;}

.main{width:100%; margin:0 auto @marginbottom-mbl auto; box-sizing: border-box; background-color: @bgcolor1;}

#footer{width:100%; height:100px; font-size: 18px; background-color:@maindark; text-align: center; color:white; line-height: 50px; margin-top: 40px;}

//header - a
header a{color:@main; text-decoration: none;}

//nav - ul
nav ul{list-style: none; padding:0px; margin:0px;}

//ul - li
nav ul li{width:25%; height:45px; float:left; box-sizing: border-box; text-align: center; line-height: 40px; background-color: @maindark; cursor: pointer;}

//li - a
nav ul li a{text-decoration: none; color:@font-color2; font-size: 16px; display: block;}

.clear{clear:both;}

/*for bigger windows*/
@media (min-width:768px){
    
    header{font-size: @header-text-size-big; height:120px; line-height: 100px;}
    .sub-main{width:85%;}
    .main{width:85%;}
    //ul - li
    nav ul li{height:60px; box-sizing: border-box; text-align: center;line-height: 60px;}
    nav ul li:hover{opacity: .7;}
    //li - a
    nav ul li a{font-size: 20px;}
}
