@bgcolor1: #ebedf2; //for all body(grey)
@bgcolor2: #ffffff; // for section

@main: #4167e0; // blue main color
@maindark: #203370; // blue main color
@mainlight: #a0b3ef; // blue main color
@main2: #e0ba41; // blue main color
@mainlight2: #fffff0; // blue main color

@button-color1: #a0b3ef;
@button-color2: #efdca0;
@font-color1: black;
@font-color2: white;
@font-family: 'Lato', sans-serif;

@marginbottom-mbl: 20px;
@marginbottom-com: 30px;

//text size & color
@header-text-size: 40px;
@header-text-size-big: 50px;
*{margin:0px; padding:0px; font-family: @font-family;}
.section-border{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
.li-border{
    border-top: 2px solid @mainlight;
    border-bottom: 2px solid @mainlight;
    margin-bottom: @marginbottom-mbl;
}
.button{
    width: 100%; height:60px; box-sizing: border-box; font-size: 20px; background-color:@button-color1; display: inline-block; text-align: center; line-height: 40px; text-decoration: none; margin-bottom: 20px; border-style: none;
}
.halfButton{
    width: 49%; height:30px; box-sizing: border-box; font-size: 18px; background-color:@button-color2; display: inline; text-align: center; line-height: 30px; text-decoration: none; margin-bottom: 20px; border-style: none;
}

.ad {width:100%; height:150px; background-color: @bgcolor1; font-size: 50px; line-height: 140px; text-align: center; .section-border(); margin-bottom: @marginbottom-mbl;}

//.main - .title(div), .pcontent(div), .commentForm(form), .pcomment(div)
.title{width:100%; box-sizing:border-box; .section-border(); background-color: @main;}

.pcontent{width:100%; margin-bottom: @marginbottom-mbl; background-color: @bgcolor2; font-size: 14px; line-height: 20px; text-align: justify; padding:10px; box-sizing: border-box; .section-border();}

#commentForm{width:100%; margin-bottom: @marginbottom-mbl; .section-border();}

.pcomment{width:100%; background-color:@bgcolor2; margin:0px; padding:10px; margin-bottom: @marginbottom-mbl; box-sizing: border-box;}

//.title(div) - .saveWarnButton(div), .pview-dl(dl)
.pview-dl{width:100%; padding:10px; box-sizing: border-box;}
.saveWarnButton{width:80%; box-sizing: border-box; margin:0 auto;}

//.pcontent(div) - #plikes(div), #plikebuttons(div)
#plikes{font-size: 24px; text-align: center; margin-bottom: @marginbottom-mbl;}
#plikebuttons{.button();}

//#commentForm(form) - p * 2
#commentForm p{width:100%;}

//.pcomment(div) - .pcomment-ul(ul)
.pcomment-ul{padding: 5px; list-style: none;}

//.saveWarnButton(div) - #save(button), #warn(button)
#save{.halfButton();}
#warn{.halfButton();}

//.pview-dl(dl) - .pview-dt(dt), .pview-dd(dd)
.pview-dt{color:@font-color2; font-size: 16px; text-align: justify; margin-bottom: 10px;}
.pview-dd{color:@font-color2; font-size: 12px; margin-bottom: 5px;}

//#plikes(div)
//#plikebuttons(div) - #likeButton * 2
#plikebuttons button{font-size: 24px; line-height: 60px;}

//p * 2 - #comment(textarea), .comment(input)
#comment{width:100%; margin:0 auto; }
.comment{.button();}

//.pcomment-ul(ul) - .pcomment-li(li)
.pcomment-li{width:100%; background-color:@mainlight2; .li-border();}

//.pcomment-li - .pcomment-dl(dl)
.pcomment-dl{padding:5px;}

//.pcomment-dl(dl) - .pcomment-dt(dt), .pcomment-dd(dd), .pccomment-dl(dl)
.pcomment-dt{font-size: 14px; font-weight: bold;}
.pcomment-dd{font-size: 12px; font-style: italic;}
.pccomment-dl{padding:0 0 5px 20px;}

//.pccomment-dl - .pccomment-dt(dt), .pccomment-dd(dd)
.pccomment-dt{font-size: 13px; font-weight: bold;}
.pccomment-dd{font-size: 10px; font-style: italic;}

/*for bigger windows*/
@media (min-width:768px){
    
    .main{width:90%;}
    .pview-dt{font-size: 18px;}
    .pview-dd{font-size: 12px;}
    .pcontent{width:90%; margin: 0px auto; font-size: 16px;}
    .pcomment{width:90%; margin: 0px auto;}
    .pcomment-dt{font-size: 14px;}
    .pcomment-dd{font-size: 12px;}
    
}
