@bgcolor1: #ebedf2; //for all body(grey)
@bgcolor2: #ffffff; // for section

@main: #2e60f4; // blue main color
@maindark: #2043aa; // blue main color
@maindarker: #122661; // blue main color
@maindarkest: #040918; // blue main color
@mainlight: #6c8ff7; // blue main color
@mainlighter: #abbffa; // blue main color
@mainlightest: #eaeffd; // blue main color

@button-color: #a0b3ef;
@font-color1: black;
@font-color2: white;
@font-family: 'Lato', sans-serif;

@marginbottom-mbl: 10px;
@marginbottom-com: 30px;


//text size & color
@header-text-size: 40px;
@header-text-size-big: 50px;

.section-border{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button{
    width: 100%; height:45px; box-sizing: border-box; font-size: 20px; color: @font-color1; background-color:@mainlighter; display: inline-block; text-align: center; line-height: 45px; text-decoration: none; border-style: none; margin: 0px auto 10px auto;
}
.border-radius{border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

article{width:100%; background-color: @bgcolor2;}

input{border:1px solid lightgray; font-size: 16px; padding:5px;}
textarea{border:1px solid lightgray; font-size: 16px; padding: 10px;}

form p:nth-child(1){text-align: center;}
form p:nth-child(2){text-align: center;}
form p:nth-child(3){text-align: center;}
form p:nth-child(4){text-align: center;}

.title{height:40px; width:90%;}
.content{height:500px; width:90%;}
.hashtag{height:40px; width:90%;}
.submit{.button(); width:90%; margin:0 auto; display: block; .border-radius(); line-height: 16px;}

/*for bigger windows*/
@media (min-width:768px){
    
    
}
