@bgcolor1: #ebedf2; //for all body(grey)
@bgcolor2: #ffffff; // for section

@main: #2e60f4; // blue main color
@maindark: #2043aa; // blue main color
@maindarker: #122661; // blue main color
@maindarkest: #040918; // blue main color
@mainlight: #6c8ff7; // blue main color
@mainlighter: #abbffa; // blue main color
@mainlightest: #eaeffd; // blue main color

@main2: #faff93; // blue main color
@mainlighter2: #fbffb3; // blue main color
@mainlightest2: #fdffd3; // blue main color

@button-color: #a0b3ef;
@font-color1: black;
@font-color2: white;
@font-family: 'Lato', sans-serif;

@marginbottom-mbl: 10px;
@marginbottom-com: 30px;

//text size & color
@header-text-size: 40px;
@header-text-size-big: 50px;
*{margin:0px; padding:0px; font-family: @font-family;}
.section-border{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.li-border{
    border-top: 1px solid @mainlight;
    border-bottom: 1px solid @mainlight;
    margin-bottom: @marginbottom-mbl;
}
.button{
    width: 100%; height:45px; box-sizing: border-box; font-size: 20px; color: @font-color1; background-color:@button-color; display: inline-block; text-align: center; line-height: 45px; text-decoration: none; border-style: none; margin: 0px auto 10px auto;
}
.halfButton{
    width: 50%; height:30px; box-sizing: border-box; font-size: 18px; background-color:@mainlighter2; display: inline-block; text-align: center; line-height: 30px; text-decoration: none; margin-bottom: 20px; border: 0px; border-style: none; border-image-width: none;
}
.border-radius{border-top-right-radius: 5px; border-bottom-right-radius: 5px;}

//.main - .ttitle-div(div), .tcontent-div, .tdetail-div, .answerForm(form), .tanswer(div)
.ttitle-div{width:100%; box-sizing:border-box; .section-border(); background-color: @main; padding:10px;}
.tcontent-div{width:100%; box-sizing:border-box; background-color: white; padding:10px;}
.tdetail-div{width:100%; box-sizing:border-box; .section-border(); background-color: @main; padding:5px;}
.answerForm{width:95%; margin: 0px auto @marginbottom-mbl auto;}
.tanswer{width:100%; background-color:@bgcolor2; margin:0px; margin-bottom: @marginbottom-mbl; box-sizing: border-box;.section-border();}

//.ttitle-div(div) - span
.ttitle-div span{color:@font-color2; font-size: 16px; text-align: justify; margin-bottom: 10px;}

//.tcontent-div(div) - .warn(p), .content(p), .tlike(div), .tlikeButton(button)
.warn{display:block; width:100%; text-align: right; padding:0;}
.content{font-size: 16px; line-height: 20px; margin-bottom: @marginbottom-mbl;}
.tlike{font-size: 24px; text-align: center; margin: @marginbottom-mbl*2 0px; color:red;}
.tlikeButton{width:40%; background-color: red; border-radius: 20px; height:30px; color: white; line-height: 30px; margin:0px auto; display: block; border:1px solid red;}

//.tdetail-div(div) - p*2
.tdetail-div p{color:@font-color2; font-size: 12px; margin-bottom: 5px;}

//.warn(p) - .warnButton(button)
.twarnButton{background-color: @main2; border:0px; font-size: 10px;} 

//.answerForm - .taInput(textarea), .taInputButton(button)
.taInput{width:100%; padding:5px; margin:0 auto; border: 1px solid @main; .border-radius(); height:60px; border: 1px solid @main; box-sizing: border-box; font-size: 12px;}
.taInputButton{.button(); width: 100%; height:40px; border: 1px solid @main; margin: 0px auto 10px auto; font-size: 18px; .border-radius();}

//.tanswer - .tanswer-ul(ul)
.tanswer-ul{padding: 5px; list-style: none;}

//.tanswer-ul(ul) - .tanswer-li(li)
.tanswer-li{width:100%; background-color:white; .li-border(); box-sizing: border-box;}

//.tanswer-li - .tanswer-dl(dl)
.tanswer-dl{padding:5px 10px;}

//.tanswer-dl(dl) - .tanswer-start(div), .tanswer-dt(dt), .tanswer-dd(dd), .acommentForm(div), .tacomment-dl(dl)
.tanswer-start{font-size: 12px; font-weight: bold; background-color: white; margin-bottom: 5px;}
.tanswer-dt{font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.tanswer-dd{font-size: 12px; font-style: italic; border-bottom: 1px solid lightgray; display: block; background-color: white; margin-bottom: @marginbottom-mbl;}
.acommentForm{width:100%; text-align: right; margin:5px 0px;}
.tacomment-dl{padding:5px 0 5px 20px; margin:5px;}
.tacomment-dl:nth-child(odd){background-color: @mainlightest;}

//.tanswer-start(div) - a
.tanswer-start a{float:right;}

//.tanswer-dd - talike(span), .talikeButton(button), .dummy(span), taWarnButton(button)
.talike{font-size: 14px; color:red; font-style: italic;}
.answerButton{float:right;}
.talikeButton{background-color: red; color:white; border:0px; border-radius: 3px;}
.dummy{width:5px; float:right;}
.taWarnButton{background-color: @main2; border:0px; border-radius: 3px; float:right;}

//.acommentForm - .tacInput(textarea), .tacInputButton(button)
.tacInput{width:100%; padding:5px; margin:0 auto; border: 1px solid @main; .border-radius(); height:30px; font-size: 12px; box-sizing:border-box;}
.tacInputButton{width: 100%; height: 20px; box-sizing: border-box; font-size: 12px; color: @font-color1; background-color:@button-color; display: inline-block; text-align: center; line-height: 12px; text-decoration: none; border-style: none; border: 1px solid @main; margin: 0px auto 10px auto; .border-radius();}

//.tacomment-dl - .tacomment-dt(dt), .tacomment-dd(dd)
.tacomment-dt{font-size: 13px; font-weight: bold;}
.tacomment-dd{font-size: 10px; font-style: italic;}

.tacWarnButton{float:right; background-color: @main2; border:0px; border-radius: 5px;}


/*for bigger windows*/
@media (min-width:768px){
    
    .main{width:90%;}
    .tcontent{margin-bottom: @marginbottom-com; padding:10px 30px 50px 30px;}
    .answerForm{width:100%; margin: 0px auto @marginbottom-com auto;}
    .tanswer{padding:10px; margin-bottom: @marginbottom-com;}
    
    .content{font-size: 20px; line-height: 22px; margin-bottom: @marginbottom-com;}
    .tlike{font-size: 28px; text-align: center; margin: 50px 0px @marginbottom-com 0px; color:red;}
    .tlikeButton{width:30%; background-color: red; border-radius: 40px; height:50px; color: white; line-height: 30px; margin:0px auto; display: block;font-size: 20px;}
    
    .tanswer-ul{padding: 15px; list-style: none;}
    
    .twarnButton{font-size: 14px;} 
    
    .taInput{height:100px; padding:10px; font-size: 14px;}
    .taInputButton{margin: 10px auto 10px auto; font-size: 24px; .border-radius(); line-height: 24px;}
    
    .tanswer-li{margin-bottom: @marginbottom-com;}
    
    .tanswer-dl{padding:10px 15px;}
    
    .tanswer-start{font-size: 14px; font-weight: bold; background-color: white; margin-bottom: 10px;}
    .tanswer-dt{font-size: 16px; font-weight: bold; margin-bottom: 5px;}
    .tanswer-dd{font-size: 14px;}
    .tacomment-dl{padding:10px 0 10px 20px; margin:5px;}
    
    .talike{font-size: 16px; }
    .talikeButton{background-color: red; color:white; border:0px; border-radius: 5px;}
    .dummy{float:right; width:10px;}
    .taWarnButton{float:right; background-color: @main2; border:0px; border-radius: 5px;}

    .tacInput{width:100%; padding:10px; margin:0 auto; height:60px; font-size: 14px;}
    .tacInputButton{width: 20%; height: 30px; font-size: 16px; line-height: 16px; margin: 0px auto 15px auto; .border-radius();}
    
    .tacomment-dt{font-size: 16px; font-weight: bold;}
    .tacomment-dd{font-size: 12px; font-style: italic;}
}