// Variables
@themes: "../css";
// Usage
@import "@{themes}/common.less";

*{margin:0px; padding:0px;}

h1{text-align: center; margin: 50px auto 20px auto; color: @main;}
article{width:100%; margin-top: 50px; text-align: center;}

p{width:90%; margin: 5px auto 10px auto;}

input{width:100%; height: 40px;  box-sizing: border-box; text-align: center; .border-radius(); border:1px solid @main;}

.idchecker{color:@likeColor;}

#u_pw{margin-bottom: 1px;}
.sex{width:49%; height:30px; padding:0px; box-sizing: border-box; display: inline; border-style: none;}
#check{width:10%;display: inline; height:16px; margin:0px;}
p span{color:@maindark; font-size: 12px;}
#submit{.button();}

body a{margin: 20px auto 5px auto; display: block; width: 80%; height:45px; box-sizing: border-box; font-size: 16px; color: @font-color1; background-color:@button-color; text-align: center; line-height: 45px; text-decoration: none; border-style: none; .border-radius();}


/*for bigger windows*/
@media (min-width:768px){
    p{width:60%; margin: 5px auto 30px auto;}
    
    input{width:100%; height: 60px;  box-sizing: border-box; text-align: center; .border-radius(); border:1px solid @main; font-size: 20px;}
    
    .sex{width:49%; height:50px; padding:0px; box-sizing: border-box; display: inline; border-style: none;}
    
    body a{margin: 20px auto 5px auto; display: block; width: 50%; height:45px; box-sizing: border-box; font-size: 16px; color: @font-color1; background-color:@button-color; text-align: center; line-height: 45px; text-decoration: none; border-style: none;}
}
