body{box-sizing: border-box; scroll-padding: 5px;}



.linkDiv{width:90%; margin:0px auto;}
.linkImg{width:100%;}


.linkContent{border:1px solid black; box-sizing: border-box;
    text-align: center; background-color: white; width: 100%;
}

.linkTitle{width:100%; text-align: center; margin:0px;
    font-size: 16px; line-height: 16px; background-color: white;
     padding:15px 5px; box-sizing: border-box;
}

.linkDesc{width:100%; text-align: center; margin:0px;
    font-size: 14px; line-height: 14px;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    background-color: white; padding:10px 5px;
    box-sizing: border-box;
}

@media (min-width: 960px){
    .linkDiv{width:70%;}
}
