extends ../user_layout

block akuView_css
    link(rel='stylesheet' href='../../../css/aku_view.css' type="text/css")

block userInfo
    +userInfo(true, u_id, follower, following)

block userStat
    .userlikeStat
        +userLikeCount('Penobrol', totalLikes.penobrol)
        +userLikeCount('Tandya', totalLikes.tandya)
        +userLikeCount('Youtublog', totalLikes.youtublog)
    .userlikeStat
        +userLikeCount('Penobrol Comment', totalLikes.pcomment)
        +userLikeCount('Tandya Answer', totalLikes.answer)
        +userLikeCount('Youtublog Comment', totalLikes.ycomment)

block userPenobrol
    +userArticle('penobrol', penobrols)

block userTandya
    +userArticle('tandya', tandyas)

block userYoutublog
    +userArticle('youtublog', youtublogs)

block logout
    a.logout(href= '/aku/logout') Logout

