extends ../user_layout

block user_layout_css
    link(rel='stylesheet' href='../../../css/aku_view.css' type="text/css")

block userInfo
    +userInfo(false, u_id, follower, following)

block userStat
    if(follow)
        button(type="submit" id="followId" class='followButton') UNFOLLOW
    else
        button(type="submit" id="followId" class='followButton') FOLLOW

block userPenobrol
    +userArticle('penobrol', penobrols)

block userTandya
    +userArticle('penobrol', tandyas)

block userYoutublog
    +userArticle('penobrol', youtublogs)

block jscript_supplement
    script.
        var followButton = document.getElementById("followId");
        let followState = #{follow} === true;

        if (followButton) {
            followButton.addEventListener("click", function () {
                followButton.disabled = true;
                requestFollow();
            });
        }

        function requestFollow() {
            const data = {
                status: !followState,
                target: "#{u_id}"
            };
            makeRequest('POST', 'api/aku/follow', data)
                .then(function (e) {
                    changeText();
                    followButton.disabled = false;
                })
                .catch(function (e) {
                    console.error(e);
                });
        }
        function changeText() {
            followButton.innerText = followState ? "FOLLOW" : "UNFOLLOW";
            followState = !followState;
        }
