doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        link(rel='stylesheet', href='common2.css' type="text/css")
        // links css common file
        link(rel='stylesheet', href='cari.css' type="text/css")
        // links css file
        meta(charset='UTF-8') 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
        header(id='header')
            a(href='/cari') Beritamus      
        nav(id='nav')
            ul
                li
                    a(href='/aku') Aku
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/cari') Cari
                li
                    a(href='/penobrol') Penobrol
                li
                    a(href='/tandya') Tandya
                br.clear
        section.sub-main(id='sub-main')
            .ad Advertising
            .search
                    form(action='/cari/search' method='get')
                        p
                            input(type='text' name='search' placeholder='   What do you want?')
                        br
                        p
                            input(type='submit')
            .login
                if user
                    h2= 'Hi! ' + user.u_id
                else
                    a(href='/aku') Login Dulu
        section.main(id='main')
            if result
                each v in result
                    ul
                        li
                            if v.identifier == 'p'
                                a(href='/penobrol/'+v.id)= v.title
                            else
                                a(href='/tandya/'+v.id)= v.question
        script(type="text/javascript" src="cari.js")
