doctype html
html
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet', href='common.css' type="text/css")
        // links css common file
        link(rel="stylesheet" href="penobrol_add.css" type="text/css")
        // links css file
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')    
        meta(name='apple-mobile-web-app-capable', content='yes')
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
        header
            a(href='/penobrol') Beritamus      
        nav
            ul
                li
                    a(href='/aku') Aku
                li
                    a(href='/cari') Cari
                li(style='border-bottom: 2px solid yellow; opacity: .9')
                    a(href='/penobrol') Penobrol
                li
                    a(href='/tandya') Tandya
                br.clear
        article
            form(action='/penobrol/add' method='post')
                p 
                    input(type='text' name='title' placeholder='title' class="title")
                p
                    label
                        input(type='radio' value='p' name="public" checked)
                        |public
                    label
                        input(type='radio' value='a' name="public")
                        |anonim  
                p
                    textarea(name='content' class="content")
                p
                    input(type='text' name='hashtag' placeholder='#cinta' class="hashtag")
                p
                    input(type='submit' class="submit")
