extends ../layout.jade

block css
  link(rel="stylesheet" href="../css/tandya_add.css" type="text/css")
  script(type="text/javascript" src="/js/jsForAllJade.js")
  script(src="../../public/b-editor/b-editor.js")
  script(src='../../public/p-add.js')

block nav
  ul
    li: a(href='/aku') Aku
    li: a(href='/cari') Cari
    li: a(href='/penobrol') Penobrol
    li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/tandya' style='color: #ffff97;') Tandya
    br.clear

block submain
  //.ad Advertisement
  
block main  
  article
    form(action='/tandya/add' method='post' onsubmit='return checksubmit();')
      p
        input(type='text' name='question' placeholder='title' class="title" id="title" required)
      p
        label
          input(type='radio' value='p' name="public" checked)
          |public
        label
          input(type='radio' value='a' name="public")
          |anonim  
      p
        b-editor(id='editor' width="90%" height="600px" name="content")
      p
        input(type='text' name='hashtag' placeholder='#put #hashtags #like #this' class="hashtag")
      p
        input(type='submit' class="submit" value="tanya")
      script.
          function checksubmit(){
              if(title.value.length < 5){
                  alert('judulnya harus lebih dari 5 alphabet');
                  return false;
              }
              if(content.value.length < 5){
                  alert('kontennya harus lebih dari 5 alphabet');
                  return false;
              }
              return true;
          }
