extends ../layout.jade

block css
    link(rel="stylesheet" href="../css/tandya_add.css" type="text/css")
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(src="../../public/b-editor/b-editor.js")
    script(src='./tandya/t-add.js')
    script(src='../addPandT.js')

block nav
    include ./tNavUl.jade

block submain
  //.ad Advertisement
  
block main  
  article
      p
        input(type='text' name='question' placeholder='what is your question' class="title" id="question" required)
      p
          label
          input(id='rbP' type='radio' value='p' name="public" checked)
          |public
          label
          input(id='rbA' type='radio' value='a' name="public")
          |anonymous 
      p
        input(type='text' name='thumbnail' placeholder='thumbnail' class="thumbnail" id="thumbnail")
      p
        b-editor(id='editor' width="90%" height="600px" name="content")
      p
        input(type='text' id='hashtag' name='hashtag' placeholder='#put #hashtags #like #this' class="hashtag")
      p
        button(class="submit" onclick='postTandyaAdd();') ask
      script.
          function checksubmit(){
              if(title.value.length < 5){
                  alert('judulnya harus lebih dari 5 alphabet');
                  return false;
              }
              if(content.value.length < 5){
                  alert('kontennya harus lebih dari 5 alphabet');
                  return false;
              }
              return true;
          }
