extends ../layout
include ../view_mixIn

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="./public/b-editor/b-editor.js")
    script(type="text/javascript" src="/js/addArticle.js")
    script(type="text/javascript" src="/js/updateArticle.js")

block css
    link(rel="stylesheet" href="../css/view_layout.css" type="text/css")
    link(rel='stylesheet', href='/css/view_mixIn.css' type="text/css")

block main
    .article
        .articleInfo
            dl.aTtileDl
                block articleInfo
                    dt.aTtileDt
                        span Q :
                        span #{topic.question}
                    +basicPInfo(topic.u_id, topic.date, topic.view, topic.replyCount)
        .articleContent
            +articleContent(topic.content)
    b-editor(id='editor' width="90%" height="600px" name="content" youtublog='0')
    button(class="submit" id='submit' name='a' onclick='postArticle(this)') share
