ul
    li: a(href='/aku') Aku
    li: a(href='/cari') Cari
    li: a(href='/penobrol') Penobrol
    li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/tandya' style='color: #ffff97;') Tandya
    br.clear
