extends ../article_view_layout

block view_js

block view_css
    link(rel='stylesheet' href='../../../css/penobrol_view.css' type="text/css")

block submain
    //.ad Advertisement

block articleDl
    dt.articleTitleDt #{topic.title}

block replyInput
    +reply('p', 0)

block replyContainer
    ul.commentUl(id='replyUl')
