extends ../article_view_layout

block view_js

block view_css
    link(rel='stylesheet' href='../../../css/tandya_view.css' type="text/css")

block submain
    //.ad Advertisement

block articleDl
    dt.articleTitleDt
        span(style='font-size:28px;') Q :
        span #{topic.question}

block replyInput
    +reply('t', topic.id)

block replyContainer
    ul.answerUl(id='replyUl')
