extends ../article_view_layout

block view_js

block view_css
    link(rel='stylesheet' href='../../../css/youtublog_view.css' type="text/css")

block submain
    //.ad Advertisement

block articleDl
    dt.aTtileDt #{topic.title}
    +hashtag(topic.hashtags)
    +basicInfo(topic.u_id, topic.date, topic.view, topic.replyCount, topic.identifier)

block articleThumb
    if(topic.thumbnail)
        p.articleThumbP= topic.thumbnail

block replyInput
    +reply('y', 0)

block reply
    ul.commentUl(id='replyUl')

    script.
        function ycChecksubmit() {
            if (pcInput.value.length < 5) {
                alert('kontennya harus lebih dari 5 alphabet');
                return false;
            } else {
                return true;
            }
        }