extends ../reply_add_edit_layout

block reply_add_edit_layout_js

block reply_add_edit_layout_css
    link(rel='stylesheet' href='../../../css/tandya_view.css' type="text/css")

block articleDl
    dt.articleTitleDt
        span Q :
        span #{topic.question}
    +hashtag(topic.hashtags)
    +basicInfo(topic.u_id, topic.date, topic.view, topic.replyCount, topic.identifier)

block articleThumb
    if(topic.thumbnail)
        p.articleThumbP= topic.thumbnail

block replyInput
    b-editor(id='editor' width="90%" height="600px" name="content" youtublog='0')

block replySubmit
    button(class="replySubmit" id='submit' name='answer' onclick='commonStart(this)') answer
