extends ../reply_add_edit_layout

block reply_add_edit_layout_js
    script(type="text/javascript" src="../../../public/b-dialog.js")
    script(type="text/javascript" src="../../../public/b-link/b-link.js")
    script(type="text/javascript" src="../../../public/b-link/b-link-dialog.js")
    script(type="text/javascript" src="../../../public/b-editor/b-editor.js")
    script(type="text/javascript" src="../../../js/reply_beditor.js")
    script(type="text/javascript" src="../../../js/common_beditor.js")

block reply_add_edit_layout_css
    link(rel='stylesheet' href='../../../css/tandya_view.css' type="text/css")

block submain

block articleDl
    dt.articleTitleDt
        span Q :
        span #{topic.question}

block articleThumb
    if(topic.thumbnail)
        p.articleThumbP= topic.thumbnail

block replyInput
    b-editor(id='editor' width="90%" height="600px" name="content")
    script.
        const edit_iframe = document.getElementById("iframe");
        edit_iframe.contentWindow.document.body.innerHTML = "#{edit_content['answer']}"
            .replace(/&lt;/g, '<')
            .replace(/&gt;/g, '>')
            .replace(/&amp;/g, '&')
            .replace(/&quot;/g, '\"');

block replySubmit
    button(class="replySubmit" id='submit' name='tandya' onclick='commonStart(this)') answer

