extends ../form_layout

block form_layout_js
    script(type="text/javascript" src="./js/find_user_info.js")

block form_layout_css
  
block pre_form
    .buttonDiv
        button(id='id' class='infoButton') id
        button(id='pw' class='infoButton') password
        input(type="hidden" id="idpw" name="idOrPw" value="id")

block formTag
    .registerDiv(id ='idDiv')
    .registerDiv
        input(type='date' name='birthday' value='2019-08-31' id='inputDate' required)
    .registerDiv
        input(type='button' name='boy' id = 'boy' value='Male' class="sex" required)
        input(type='button' name='girl' id = 'girl' value='Female' class="sex" required)
        input(type="hidden" id="gender" name="gender" value="none")
    .registerDiv
        input(type='text' name='email' id='email' placeholder='emailAdress@yourEmail.com' required)
        span(id='emailInfo' class='registerInfo') Please put a valid email address
    .registerDiv
        input(type='submit' id='submit' value='submit')

