extends ../form_layout

block form_layout_js
    script(type="text/javascript" src="../../../js/changeInfo.js")

block form_layout_css

block submain
  //.ad Advertising
  
block formTag
    p #{user.u_id}
    .registerDiv
        input(type='password' id = 'u_pw' name='u_pw' maxlength="50" placeholder='Secret Password' required)
        input(type='password' id = 'u_pw2' maxlength="50" placeholder='Check Your Password One More Time' required)
    span(id='pwInfo' class='registerInfo') Include 1 character, number and special character
    p #{user.email}
    p
        input(type='submit' value='change pw' id='submit')