extends ./layout

block js
    script(src='./js/addPandT.js')
    script(src="./public/b-editor/b-editor.js")
    block addJs

block css
    link(rel="stylesheet" href="../css/add_layout.css" type="text/css")
    block addCss

block submain

block main
    .article
        block newArticleInfo
        p
            input(type='text' name='thumbnail' placeholder='thumbnail' maxlength="200" class="thumbnail" id="thumbnail")
        p.infoP
            span(id='thumbnailInfo' class='infoSpan') 200/200
        p
            block newArticleContent
        p
            input(id='hashtag' type='text' name='hashtag' placeholder='#put #hashtags #like #this' class="hashtag")
        p.infoP
            span(id='hashInfo' class='infoSpan') 20/20
        p
            block newArticleSubmit

block jscript
    script.
        thumbnail.addEventListener('keyup', function () {
            var count = 200;
            count -= thumbnail.value.length;
            thumbnailInfo.innerHTML = count + '/200';
            if (count < 1) {
                thumbnailInfo.innerHTML = 'exceeds the limit';
            }
        });
        hashtag.addEventListener('keydown', function () {
            var count = 20;
            count -= (hashtag.value.match(/#/gi) || []).length;
            hashInfo.innerHTML = count + '/20';
            if (count < 1) { // 아직 구현 못함
                hashInfo.innerHTML = 'exceeds the limit';
            }
        });