extends ./layout
include ./mixIn

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="/public/b-thumbnail/b-thumbnail.js")
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")
    block frontJs

block css
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")
    link(rel='stylesheet', href='/css/mixIn.css' type="text/css")
    block frontCss

block submain

block main

block jscript
    script.
        window.addEventListener('scroll', function(){
            var pathname = window.location.pathname;
            if (document.documentElement.scrollTop + document.documentElement.clientHeight == document.documentElement.scrollHeight){
                loadMore(pathname);
            }
        });

        let loadMore = function(pathname){
            let loadUrl = '';
            if(pathname === '/cari') loadUrl = 'api/cari/load';
            else loadUrl = 'api/article' + pathname+'/load';
            makeRequest('GET', loadUrl)
                .then(function(result){
                    result = JSON.parse(result);
                    var randomUl = document.getElementById('uls');
                    result.map(function(data){
                        let lis = document.createElement("b-thumbnail");
                        lis.setAttribute("jsonSrc", JSON.stringify(data));
                        randomUl.appendChild(lis);
                    })
            }).catch(function(){
                console.log(err);
                });
        };