extends ./layout
include ./mixIn

block js
    script(type="text/javascript" src="/public/b-thumbnail/b-thumbnail.js")
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")
    block frontJs

block css
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")
    link(rel='stylesheet', href='/css/mixIn.css' type="text/css")
    block frontCss

block submain

block main

block jscript