doctype html
html
    head
        title Beritamus
        // what appears on the tab
        base(href="/")
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet")
        link(rel='stylesheet' href="./css/layout.css" type="text/css")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // links css common files
        // links css file
        block js
        block css
    body
        .container
            header
                a(href='/cari') Beritamus
                span /b'ritɛmus/
            nav(id='navBar')
                a(href='/aku' id='akuATag')
                    img(src="icons/aku_white.png" id="navImg_a")
                a(href='/penobrol' id='penobrolATag')
                    img(src="icons/penobrol_white.png" id="navImg_p")
                a(href='/tandya' id='tandyaATag')
                    img(src="icons/tandya_white.png" id="navImg_t")
                a(href='/youtublog' id='youtublogATag')
                    img(src="icons/youtublog_white.png" id="navImg_y")
                br.clear
            section.sub-main
                block submain
            section.main
                block main
        block footer
        script.
            window.addEventListener('DOMContentLoaded', function () {
                let currentTag = (location.pathname).split('/')[1];
                switch (currentTag) {
                    case 'aku':
                    case 'penobrol':
                    case 'tandya':
                    case 'youtublog':
                        const currentATag = document.getElementById(currentTag + 'ATag');
                        currentATag.style.backgroundColor = '#ebedf2';
                        currentATag.children[0].setAttribute('src', 'icons/' + currentTag + '_blue.png');
                        break;
                    case 'cari':
                    default:
                        break;
                }
            });
            window.onscroll = function () {
                myFunction()
            };

            const navBar = document.getElementById("navBar");
            const sticky = navBar.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navBar.classList.add("sticky")
                } else {
                    navBar.classList.remove("sticky");
                }
            }
        block jscript

