doctype html
html(lang="id")
    head
        title beritamus
        // what appears on the tab
        base(href="/")
        link(rel='stylesheet' href="/css/common.css" type="text/css")
        // links css common files
        // links css file
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        block css
        // iphone에서 어플식으로 저장가능
        // Lorem ipsum
    body
        .container
            header
                a(href='/cari') Beritamus
            nav
                block nav
            section.sub-main
                block submain
            section.main
                block main
            section.footer
                block footer
                    p contact : admin@beritamus.com
                    p www.beritamus.com
            
