doctype html
html
    head
        title Beritamus
        // what appears on the tab
        base(href="/")
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet")
        link(rel='stylesheet' href="/css/layout.css" type="text/css")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // links css common files
        // links css file
        block js
        block css
    body
        .container
            header
                a(href='/cari') Beritamus
                span /b'ritɛmus/
            nav
                ul(id='navUl')
                    li(id='akuLiTag')
                        a(href='/aku' id='akuATag')
                            img(src="icons/aku_white.png" class="navImg")
                    li(id='penobrolLiTag')
                        a(href='/penobrol' id='penobrolATag')
                            img(src="icons/penobrol_white.png" class="navImg")
                    li(id='tandyaLiTag')
                        a(href='/tandya' id='tandyaATag')
                            img(src="icons/tandya_white.png" class="navImg")
                    li(id='youtublogLiTag')
                        a(href='/youtublog' id='youtublogATag')
                            img(src="icons/youtublog_white.png" class="navImg")
                br.clear
            section.sub-main
                block submain
            section.main
                block main
        block footer

    block jscript
    script.
        window.addEventListener('DOMContentLoaded', function () {
            let currentTag = (location.pathname).split('/')[1];
            switch (currentTag) {
                case 'aku':
                case 'penobrol':
                case 'tandya':
                case 'youtublog':
                    const currentLiTag = document.getElementById(currentTag + 'LiTag');
                    const currentATag = document.getElementById(currentTag + 'ATag');
                    currentLiTag.style.backgroundColor = 'white';
                    currentATag.style.color = '#f4f5f0';
                    currentATag.children[0].setAttribute('src', 'icons/'+currentTag+'_blue.png');
                    break;
                case 'cari':
                default:
                    break;
            }
        });
