doctype html
html
    head
        title Beritamus
        // what appears on the tab
        base(href="/")
        link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400|Pattaya&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet")
        link(rel='stylesheet' href="/css/layout.css" type="text/css")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        // links css common files
        // links css file
        block js
        block css
    body
        .container
            header
                a(href='/cari') Beritamus  
                span /b'ritɛmus/
            nav
                ul
                    li(id='akuLiTag'): a(href='/aku' id='akuATag') aku
                    li(id='penobrolLiTag'): a(href='/penobrol' id='penobrolATag') penobrol
                    li(id='tandyaLiTag'): a(href='/tandya' id='tandyaATag') tandya
                    li(id='youtublogLiTag'): a(href='/youtublog' id='youtublogATag') youtublog
                br.clear
            section.sub-main
                block submain
            section.main
                block main
            section.footer
                block footer
                    p contact : admin@beritamus.com
                    p www.beritamus.com

    block jscript
    script.
        window.addEventListener('load', function () {
            let currentTag = (location.pathname).split('/')[1];

            switch (currentTag) {
                case 'aku':
                case 'penobrol':
                case 'tandya':
                case 'youtublog':
                    const currentLiTag = document.getElementById(currentTag + 'LiTag');
                    const currentATag = document.getElementById(currentTag + 'ATag');
                    currentLiTag.style.borderBottom = '3px solid #ffff97';
                    currentLiTag.style.opacity = '.9';
                    currentATag.style.color = '#ffff97';
                    break;
                case 'cari':
                default:
                    break;
            }
        });
