mixin navi(section)
    ul
        if(section ==='a')
            li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/aku' style='color: #ffff97;') aku
            li: a(href='/penobrol') penobrol
            li: a(href='/tandya') tandya
            li: a(href='/youtublog') youtublog
        else if(section === 'p')
            li: a(href='/aku') aku
            li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/penobrol' style='color: #ffff97;') penobrol
            li: a(href='/tandya') tandya
            li: a(href='/youtublog') youtublog
        else if(section === 't')
            li: a(href='/aku') aku
            li: a(href='/penobrol') penobrol
            li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/tandya' style='color: #ffff97;') tandya
            li: a(href='/youtublog') youtublog
        else if(section === 'y')
            li: a(href='/aku') aku
            li: a(href='/penobrol') penobrol
            li: a(href='/tandya') tandya
            li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/youtublog' style='color: #ffff97;') youtublog
        else
            li: a(href='/aku') aku
            li: a(href='/penobrol') penobrol
            li: a(href='/tandya') tandya
            li: a(href='/youtublog') youtublog
        br.clear