extends ./layout
include ./mixIn

block js
    script(type="text/javascript" src="/public/b-thumbnail/b-thumbnail.js")
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")

block css
    link(rel='stylesheet', href='/css/user_layout.css' type="text/css")
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")
    link(rel='stylesheet', href='/css/mixIn.css' type="text/css")

block submain

block main
    .personalInfo
        block personalInfo
    .personalStat
        block personalStat
    .personalArticle
        .userPenobrol
            block userPenobrol
        .userTandya
            block userTandya
        .userYoutublog
            block userYoutublog
    block logout

block jscript