extends ./layout
include ./view_mixIn

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="/js/likeArticle.js")
    script(type="text/javascript" src="/js/warnArticle.js")
    script(type="text/javascript" src="/js/deleteArticle.js")
    script(type="text/javascript" src="/js/pcctacPost.js")

block css
    link(rel="stylesheet" href="../css/view_layout.css" type="text/css")
    link(rel='stylesheet', href='/css/view_mixIn.css' type="text/css")

block submain

block main
    .article
        .articleInfo
            dl.aTtileDl
                block articleInfo
                if u_id
                    +articlePop(topic.identifier, id2, topic.author)
                +hashtag(topic.hashtags)
        .articleContent
            +articleContent(topic.content)
        .articleLike
            .articleLikeNum(id="articleLikeNum")= topic.likes.length
            if u_id
                +likeButton(topic.identifier,topic.likes, id2)
    if(u_id)
        .commentOrAnswer
            +commentOrAnswer(topic.identifier)
    .comAns
        ul.ulComAndAns
            block ulComAndAns


