extends ../view_layout
include ../view_mixIn

block submain
    //.ad Advertisement

block articleInfo
    dt.aTtileDt #{topic.title}
    +basicPInfo(topic.u_id, topic.date, topic.view, topic.replyCount)

block ulComAndAns

    script.
        function ycChecksubmit() {
            if (pcInput.value.length < 5) {
                alert('kontennya harus lebih dari 5 alphabet');
                return false;
            } else {
                return true;
            }
        }
