extends ../layout.jade

block css
  link(rel="stylesheet" href="penobrol_add.css" type="text/css")
  script(type="text/javascript" src="/js/jsForAllJade.js")

block nav
  ul
    li: a(href='/aku') Aku
    li: a(href='/cari') Cari
    li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/penobrol' style='color: #ffff97;') Penobrol
    li: a(href='/tandya') Tandya
    br.clear

block submain
  //.ad Advertisement
  
block main
  article
    form(action='/penobrol/add' method='post' onsubmit='return checksubmit();')
      p 
        input(type='text' name='title' placeholder='title' class="title" id="title" required)
      p
        label
          input(type='radio' value='p' name="public" checked)
          |public
        label
          input(type='radio' value='a' name="public")
          |anonymous  
      p
        textarea(name='content' class="content" id="content" required)
      p
        input(type='text' name='hashtag' placeholder='#put #hashtags #like #this' class="hashtag")
      p
        input(type='submit' class="submit" value="share")
      script.
        function checksubmit(){
            if(title.value.length < 5){
                alert('judulnya harus lebih dari 5 alphabet');
                return false;
            }
            if(content.value.length < 5){
                alert('kontennya harus lebih dari 5 alphabet');
                return false;
            }
            return true;
        }
