extends ../add_layout

block newArticleInfo
    p
        input(type='text' name='title' placeholder='title' maxlength="200" class="title" id="title" required)
    p.infoP
        span(id='titleInfo' class='infoSpan') 200/200
    p
        label
            input(id='rbP' type='radio' value='p' name="public" checked)
            span  public
        label
            input(id='rbA' type='radio' value='a' name="public")
            span  anonymous

block newArticleContent
    b-editor(id='editor' width="90%" height="600px" name="content" youtublog='0')

block newArticleSubmit
    button(class="submit" id='submit' name='p' onclick='postArticle(this)') share

    script.
        function checksubmit(){
            if(title.value.length < 5){
                alert('judulnya harus lebih dari 5 alphabet');
                return false;
            }
            if(content.value.length < 5){
                alert('kontennya harus lebih dari 5 alphabet');
                return false;
            }
            return true;
        }
        title.addEventListener('keyup', function(){
            var count = 200;
            count -= title.value.length;
            titleInfo.innerHTML = count + '/200';
            if(count < 1){
                titleInfo.innerHTML = 'exceeds the limit';
            }
        });

