extends ../layout.jade

block css
    link(rel="stylesheet" href="../css/penobrol_add.css" type="text/css")
    script(src="../../public/b-editor/b-editor.js")
    script(src='./penobrol/p-edit.js')
    script(src='../addPandT.js')

block nav
    include ./pNavUl.jade

block submain
  //.ad Advertisement
  
block main
    article
        p 
            input(type='text' name='title' placeholder='title' class="title" id="title" value=edit_content.title)
        p
            if edit_content.public == 'p'
                label
                    input(id='rbP' type='radio' value='p' name="public" checked)
                    |public
                label
                    input(id='rbA' type='radio' value='a' name="public")
                    |anonymous
            else
                label
                    input(id='rbP' type='radio' value='p' name="public" checked)
                    |public
                label
                    input(id='rbA' type='radio' value='a' name="public")
                    |anonymous
        p
            b-editor(id='editor' width="90%" height="600px" name="content")
            script.
                var edit_iframe = document.getElementById("iframe");
                edit_iframe.contentWindow.document.body.innerHTML = "#{edit_content.content}".replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&').replace(/&quot;/g, '\"');
            // textarea(name='content' class="content" id="content" required)
        p
            input(id='hashtag' type='text' name='hashtag' class="hashtag" value= "#{hashtag_final}")
        p
            button(class="submit" onclick="postEditPenobrol();") share
        script.
            function checksubmit(){
                if(title.value.length < 5){
                    alert('judulnya harus lebih dari 5 alphabet');
                    return false;
                }
                if(content.value.length < 5){
                    alert('kontennya harus lebih dari 5 alphabet');
                    return false;
                }
                return true;
            }
