extends ../view_layout
include ../view_mixIn

block view_js

block submain
    //.ad Advertisement

block articleInfo
    dt.aTtileDt #{topic.title}
    +basicPInfo(topic.u_id, topic.date, topic.view, topic.replyCount)

block reply
    +reply('p', 0)

block ulComAndAns
