extends ../layout.jade

block css
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")
    link(rel='stylesheet', href='/css/mixIn.css' type="text/css")
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="/public/b-thumbnail/b-thumbnail.js")
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")

block nav
    include ./pNavUl.jade

block submain
    //.ad Advertisement

block main
    include ../mixIn.jade
    +frontPage('Penobrol')
