extends ../view_layout
include ../view_mixIn

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="/js/warnArticle.js")
    script(type="text/javascript" src="/js/likeArticle.js")
    script(type="text/javascript" src="/js/deleteArticle.js")

block css
    link(rel="stylesheet" href="../css/view_layout.css" type="text/css")
    link(rel='stylesheet', href='/css/view_mixIn.css' type="text/css")

block submain

block main
    .article
        .articleInfo
            dl.aTtileDl
                block articleInfo
                if(id2)
                    +articlePop(topic.identifier, id2, topic.author)
                +hashtag(topic.hashtags)
        .articleContent
            +articleContent(topic.content)
        .articleLike
            .articleLikeNum(id="articleLikeNum")= topic.likeCount
    if id2
        form(action='/pcedit/'+topic.id+'/'+edit_content.id method='post' id='commentForm' class='commentForm')
            textarea(name='comment' id="comment" class="pcInput")= edit_content.content
            input(type='submit' value='submit' class="pcInputButton")
