ul
    li: a(href='/aku') aku
    li: a(href='/cari') cari
    li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/penobrol' style='color: #ffff97;') penobrol
    li: a(href='/tandya') tandya
    br.clear
