ul
    li: a(href='/aku') Aku
    li: a(href='/cari') Cari
    li(style='border-bottom: 3px solid #ffff97; opacity: .9'): a(href='/penobrol' style='color: #ffff97;') Penobrol
    li: a(href='/tandya') Tandya
    br.clear
