extends ../layout

block css
    link(rel='stylesheet', href='../css/user-add.css' type="text/css")

block submain
  //.ad Advertising
  
block main
    article
        form(action='/aku/change/info' method='post' onsubmit='return checksubmit();')
            p #{user.u_id}
            p
                input(type='password' id = 'u_pw' name='u_pw' maxlength="50" placeholder='Secret Password' required)
                input(type='password' id = 'u_pw2' maxlength="50" placeholder='Check Your Password One More Time')
            span(id='pwInfo')
            p #{user.email}
            p
                input(type='submit' value='Change My Info' id='submit')
    script(type="text/javascript" src="../../js/changeInfo.js")
