//out: ../css/cari.css
// Variables
@themes: "../less";
// Usage
@import "@{themes}/variable.less";

//.common_info - a
.general_info{margin: @marginbottom-mbl 0px; .section-border();}

//.login(a)
.login{.button(); width:90%; margin: 0px auto @marginbottom-mbl auto;}

//cari_result
.userResultAtag{width:90%; height: 40px; line-height: 40px; display: block; text-decoration: none; background-color: @main; font-size: 16px; text-align: center; color: white; margin: 0px auto @marginbottom-mbl auto;}
