//out: ../css/cari.css
// Variables
@themes: "../less";
// Usage
@import "@{themes}/variable.less";

//.common_info - a
.general_info{margin: @marginbottom-mbl 0px; .section-border();}

//.login(a)
.login{width: 90%; height:40px; line-height: 40px; background-color: @main; color:white; display: block; text-decoration: none; text-align: center; margin-bottom: @marginbottom-mbl;}


//cari_result
.userResultAtag{width:100%; height: 40px; line-height: 40px; display: block; text-decoration: none; background-color: white; font-size: 14px; text-align: center; color: @main; margin-bottom: 10px; .top-border(); .bottom-border();}
