//out: ../css/user_layout.css
// Variables
@themes: "../less";
// Usage
@import "@{themes}/variable.less";

.userInfo, .userStat, .userArticle {width: 100%; margin-bottom: @marginbottom-mbl; background-color: white; padding: 10px; .section-border();}
.userInfo{text-align: center;}

//.userArticle - .userPenobrol, .userTandya, .userYoutublog
.userPenobrol, .userTandya, .userYoutublog {padding: 5px; margin-bottom: @marginbottom-mbl; background-color: white;}

.userArticleHeadingImg { display: block; height: 40px; margin-bottom: 10px;}

/*for bigger windows*/
@media (min-width:@min-width){
    .userInfo, .userStat, .userArticle {width:@min-width;; margin:0px auto @marginbottom-com auto;}
}