//out: ../css/variable.css
//this common file is for body, header and nav and main tags only
//margin order : top right bottom left;
@bgcolor1: #ebedf2; //for all body(grey)
@linecolor: #ebedf2;

//LPC Color Palette
@palette1: #0f4c81; // main color
@palette2: #f4f5f0; // very light green
@palette3: #c0d1da; // light blue
@palette4: #3e6383; // dark blue
@palette5: #a13525; // dark red

@main: #0f4c81; // blue main color

@maindark: #0a355a; // blue main color
@maindarker: #061e33; // blue main color
@maindarkest: #01070c;

@mainlight: #5781a6; // blue main color
@mainlighter: #9fb7cc;
@mainlightest: #e7edf2; // blue main color

@main2: #faff93; // yellow main color
@main2light: #fbffb3; // yellow main color
@main2lighter: #fdffd3; // yellow main color
@main2lightest: #fefff4;

@button-color: @main;
@font-color1: black;
@font-color2: white;
@font-color3: grey;

@font-family: 'Lato', sans-serif; //for all
@font-family2: 'Pattaya', sans-serif; //for beritamus at the top
@font-family3: 'Fruktur', cursive;


@likeColor: #a13525;

@marginbottom-mbl: 10px;
@marginbottom-com: 30px;

//text size & color
@header-text-size: 40px;
@header-text-size-big: 50px;

@min-width: 414px;

.section-border{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.button{
    width: 100%; height:45px; box-sizing: border-box; font-size: 16px; color:white; background-color:@button-color; display: inline-block; text-align: center; line-height: 40px; text-decoration: none; border-style: none;
}

.li-border{
    border: 1px solid @mainlight;
    margin-bottom: 10px;
}

.top-border{
    border-top: 1px solid @main;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../icons/fonts/icomoon.eot?hjgbuf');
  src:  url('../icons/fonts/icomoon.eot?hjgbuf') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hjgbuf') format('truetype'),
    url('fonts/icomoon.woff?hjgbuf') format('woff'),
    url('fonts/icomoon.svg?hjgbuf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aku_black:before {
  content: "\e900";
}
.icon-cari_black:before {
  content: "\e901";
}
.icon-penobrol_black:before {
  content: "\e902";
}
.icon-tandya_black:before {
  content: "\e903";
}
.icon-youtublog_black:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-youtube:before {
  content: "\ea9d";
}
