.rotate000 {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}
.rotate090 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.rotate270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}
.section-border {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.button {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  background-color: #0f4c81;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border-style: none;
}
.border-radius {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.li-border {
  border-top: 1px solid #5781a6;
  border-bottom: 1px solid #5781a6;
  border-right: 1px solid #5781a6;
  margin-bottom: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.topBottom-border {
  border-top: 1px solid #5781a6;
  border-bottom: 1px solid #5781a6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
* {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  margin: 50px auto 20px auto;
  color: #0f4c81;
  font-family: 'Pattaya', sans-serif;
}
article {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
p {
  width: 90%;
  margin: 5px auto 10px auto;
  text-align: center;
}
input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #0f4c81;
  background-color: white;
  display: -webkit-inline-flex;
}
.idchecker {
  color: #c91818;
}
#u_pw {
  margin-bottom: 3px;
}
.sex {
  width: 49%;
  height: 30px;
  padding: 0px;
  box-sizing: border-box;
  display: inline;
  border: 1px solid #0f4c81;
}
#check {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0px;
  border-radius: 0px;
}
p span {
  color: #0a355a;
  font-size: 12px;
  margin-left: 5px;
}
#submit {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  color: white;
  background-color: #0f4c81;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border-style: none;
  width: 90%;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}
/*for bigger windows*/
@media (min-width: 768px) {
  p {
    width: 60%;
    margin: 5px auto 30px auto;
  }
  input {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #0f4c81;
    font-size: 16px;
  }
  .sex {
    width: 49%;
    height: 50px;
    padding: 0px;
    box-sizing: border-box;
    display: inline;
    border: 1px solid #0f4c81;
  }
  p span {
    color: #0a355a;
    font-size: 14px;
    margin-left: 5px;
  }
}
