extends ../layout
include ../mixins/article_view_mixin

block js
    script(type="text/javascript" src="../../js/jsForAllJade.js")
    block reply_add_edit_layout_js

block css
    link(rel="stylesheet" href="../../css/reply_add_edit_layout.css" type="text/css")
    link(rel='stylesheet' href='../../css/article_view_mixin.css' type="text/css")
    link(rel="stylesheet" href="../../css/b-editor.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-dialog.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-link.css" type="text/css")
    block reply_add_edit_layout_css

block main
    .articleContainer(id='articleContainer')
        .articleInfo
            dl.articleDl
                block articleDl
                +hashtag(topic.hashtags)
                +basicInfo(topic.u_id, topic.date, topic.view, topic.replyCount, topic.identifier)
        .articleThumb
            block articleThumb
        .articleContent
            +articleContent()
    block replyInput
    block replySubmit



