extends ../layout
include ../mixins/article_view_mixin

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    block view_js

block css
    link(rel='stylesheet' href='../../css/article_view_mixin.css' type="text/css")
    block view_css

block submain

block main
    .articleContainer(id='articleContainer')
        .articleInfo
            dl.articleDl
                block articleDl
        .articleThumb
            block articleThumb
        .articleContent
            +articleContent()
        .articleLike
            .articleLikeNum(id="articleLikeNum")= topic.likeCount + '  highlight  '
    if(id2)
        .replyInputContainer
            block replyInput

block jscript
