extends ../layout
include ../mixins/article_view_mixin

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="./public/b-dialog.js")
    script(type="text/javascript" src="./public/b-link/b-link.js")
    script(type="text/javascript" src="./public/b-link/b-link-dialog.js")
    script(type="text/javascript" src="./public/b-editor/b-editor.js")
    script(type="text/javascript" src="/js/reply_beditor.js")
    script(type="text/javascript" src="/js/common_beditor.js")
    block reply_add_edit_layout_js

block css
    link(rel="stylesheet" href="../../css/reply_add_edit_layout.css" type="text/css")
    link(rel='stylesheet' href='../../css/article_view_mixin.css' type="text/css")
    link(rel="stylesheet" href="../../css/b-editor.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-dialog.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-link.css" type="text/css")
    block reply_add_edit_layout_css

block main
    .articleContainer(id='articleContainer')
        .articleInfo
            dl.articleDl
                block articleDl
        .articleThumb
            block articleThumb
        .articleContent
            +articleContent()
    block replyInput
    block replySubmit



