extends ../layout
include ../mixins/article_view_mixin

block js
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="./public/b-editor/b-editor.js")
    script(type="text/javascript" src="/js/addArticle.js")
    script(type="text/javascript" src="/js/updateArticle.js")
    block reply_add_layout_js

block css
    link(rel="stylesheet" href="../../css/reply_add_layout.css" type="text/css")
    link(rel='stylesheet' href='../../css/article_view_mixin.css' type="text/css")
    link(rel="stylesheet" href="../../css/b-editor.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-dialog.css" type="text/css")
    link(rel="stylesheet" href="../../css/b-link.css" type="text/css")
    block reply_add_layout_css

block main
    .articleContainer(id='articleContainer')
        .articleInfo
            dl.articleDl
                block articleDl
        .articleThumb
            block articleThumb
        .articleContent
            +articleContent()
    b-editor(id='editor' width="90%" height="600px" name="content" youtublog='0')
    button(class="replySubmit" id='submit' name='a' onclick='postArticle(this)') answer


