extends ../layout
include ../mixins/user_mixin

block js
    script(type="text/javascript" src="../../public/b-thumbnail/b-my-thumbnail.js")
    script(type="text/javascript" src="../../js/jsForAllJade.js")

block css
    link(rel='stylesheet' href='../../css/user_layout.css' type="text/css")
    link(rel='stylesheet' href='../../css/thumbnail.css' type="text/css")
    link(rel='stylesheet' href='../../css/aku_mixin.css' type="text/css")
    block user_layout_css

block submain

block main
    .userInfo
        block userInfo
    .userStat
        block userStat
    .userArticle
        .userPenobrol
            img(class='userArticleHeadingImg' src='../../icons/penobrol_blue_full.png')
            block userPenobrol
        .userTandya
            img(class='userArticleHeadingImg' src='../../icons/tandya_blue_full.png')
            block userTandya
        .userYoutublog
            img(class='userArticleHeadingImg' src='../../icons/youtublog_blue_full.png')
            block userYoutublog
    block logout

block jscript
    block jscript_supplement