extends ../front_layout

block frontJs

block frontCss
    link(rel='stylesheet', href='../../css/cari.css' type="text/css")
    link(rel='stylesheet', href='../../css/mixin.css' type="text/css")
    link(rel='stylesheet', href='../../css/thumbnail.css' type="text/css")

block main
    if(user)
        for itemm in user
            a(href="/aku/user/"+`${itemm.u_id}` class='userResultAtag') #{itemm.u_id}
    ul.thumbnailUl(id='uls')
        if(article)
            for item in article
                b-thumbnail(jsonSrc=`${JSON.stringify(item)}`)
        if(hashtag)
            for itemss in hashtag
                b-thumbnail(jsonSrc=`${JSON.stringify(itemss)}`)
