extends ../layout

block js
    script(type="text/javascript" src="/js/cari.js")
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")
    script(type="text/javascript" src="/public/b-thumbnail/b-thumbnail.js")

block css
    link(rel='stylesheet', href='/css/cari.css' type="text/css")
    link(rel='stylesheet', href='/css/mixIn.css' type="text/css")
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")

    

block nav
    include ../nav_mixIn
    +navi('c')

block submain
    //.ad Advertising
    .search
        form(action='/cari/search' method='get')
            input(type='text' name='search' placeholder='Cari Penobrol / Tandya')
            button(type='submit' class="submit" value="search")
                img(src="icons/cari3.png" class="cariImage")

block main
    - var count = 6;
    ul.thumbnailUl(id='uls')
        for item in list
            - count--;
            b-thumbnail(jsonSrc=`${JSON.stringify(item)}`)
        if count == 0 && !u_id
            .cariLogin
                a(href='/aku') Login Dulu

block footer            
