extends ../front_layout

block frontJs
    script(type="text/javascript" src="/js/cari.js")

block frontCss
    link(rel='stylesheet', href='/css/cari.css' type="text/css")

block submain
    .search
        form(action='/cari/search' method='get')
            input(type='text' name='search' placeholder='Cari Penobrol / Tandya')
            button(type='submit' class="submit" value="search")
                img(src="icons/cari3.png" class="cariImage")

block main
    - var count = 6;
    ul.thumbnailUl(id='uls')
        for item in list
            - count--;
            b-thumbnail(jsonSrc=`${JSON.stringify(item)}`)
        if count == 0 && !u_id
            .cariLogin
                a(href='/aku') Login Dulu
