extends ../front_layout

block frontJs

block frontCss
    link(rel='stylesheet', href='/css/cari.css' type="text/css")

block submain_supplement
    .common_info
        a.weatherwidget-io(href="https://forecast7.com/en/n0d79113d92/indonesia/" data-label_1="INDONESIA" data-icons="Climacons Animated" data-days="5" data-theme="pure") INDONESIA
    script.
        window.addEventListener('load', function () {
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://weatherwidget.io/js/widget.min.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'weatherwidget-io-js');
        });

block main
    if(id2 === 0)
        a.login(href="/aku") login
    ul.thumbnailUl(id='uls')
        for item in list
            b-thumbnail(jsonSrc=`${JSON.stringify(item)}`)

block jscript_supplement