extends ../front_layout

block js
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")
    script(type="text/javascript" src="/public/b-thumbnail/b-thumbnail.js")

block css
    link(rel='stylesheet', href='/css/cari.css' type="text/css")
    link(rel='stylesheet', href='/css/mixIn.css' type="text/css")
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")

block main
    ul.thumbnailUl(id='uls')
        if(user)
            for itemm in user
                a(href="/aku/user/"+`${itemm}`) #{itemm}
        if(article)
            for item in article
                b-thumbnail(jsonSrc=`${JSON.stringify(item)}`)
        if(hashtag)
            for itemss in hashtag
                b-thumbnail(jsonSrc=`${JSON.stringify(itemss)}`)
