extends ../layout.jade
    
block css
    link(rel='stylesheet', href='/css/aku.css' type="text/css")
    link(rel='stylesheet', href='/css/thumbnail.css' type="text/css")
    script(type="text/javascript" src="../js/aku.js")
    script(type="text/javascript" src="/js/jsForAllJade.js")
    script(type="text/javascript" src="/public/b-thumbnail/b-thumbnail.js")
    script(type="text/javascript" src="/public/b-hashtag/b-hashtag.js")
    
block nav
  ul
    li(style='border-bottom: 2px solid yellow; opacity: .9')
        a(href='/aku' style='color: #ffff97;') Aku
    li
        a(href='/cari') Cari
    li
        a(href='/penobrol') Penobrol
    li
        a(href='/tandya') Tandya
    br.clear

block main
    form(action='/aku/changeUserInfoLogin' method='post')
        input(type='text' name='u_id' placeholder='  ID' id="input_id" required)
        input(type='password' name='u_pw' placeholder='  Password' id="input_pw" required)
        input(type='submit' value="Login to Change your Info" id="login" onclick='noDouble()')
    
