extends ../layout

block js
    script(type="text/javascript" src="../js/aku.js")

block css
    link(rel='stylesheet', href='../../css/aku.css' type="text/css")

block submain
  //.ad Advertisement
  
block main
    form(action='aku/login' method='post')
        input(type='text' name='u_id' placeholder='  ID' id="input_id" required)
        input(type='password' name='u_pw' placeholder='  Password' id="input_pw" required)
        if message
            p.message= message
        input(type='submit' value="Login" id="login" onclick='noDouble()')
    .daftar
        span(id="hilang")
            a(href='/aku/find') Forgot
        span(id="daftar")
            a(href='/aku/register') Register

