extends ../layout

block css
    link(rel='stylesheet', href='../css/user-add.css' type="text/css")

block js
    script(type="text/javascript" src="../../js/register.js")
    script(type="text/javascript" src="../../js/jsForAllJade.js")

block submain
  //.ad Advertising
  
block main
    article
        form(action='/aku/register' method='post' onsubmit='return checkSubmit();')
            p
                input(type='text' id = 'u_id' name='u_id' maxlength="30" placeholder='ID' required)
            span(id='idInfo') 30/30
            p
                input(type='password' id = 'u_pw' name='u_pw' maxlength="50" placeholder='Password' required)
            p
                input(type='password' id = 'u_pw2' maxlength="50" placeholder='Check Password')
            span(id='pwInfo')
            p
                input(type='date' name='birthday' value='2019-10-24' id='inputDate' required)
            p
                input(type='button' name='boy' id = 'boy' value='Male' class="sex" required)
                input(type='button' name='girl' id = 'girl' value='Female' class="sex" required)
                input(type="hidden" id="gender" name="gender" value="none")
            p
                input(type='text' name='email' id='email' placeholder='emailAdress@yourEmail.com' required)
            span(id='emailInfo')
            p
                span By signing up, you agree to Beritamus's Terms, Data Policy and Cookie Policy
            p
                input(type='submit' value='Verification Mail' id='submit')

