extends ../article_add_layout

block b-editor
    b-editor(id='editor' class='beditor' height="600px" name="content" youtublog='0')

block submitButton
    button(class="articleSubmit" id='submit' name='tandya' onclick='commonStart(this)') ask

