extends ../article_add_edit_layout

block article_add_edit_layout_js

block article_add_edit_layout_css

block submain
    //.ad Advertisement

block b-editor

block submitButton

block jscript_supplement