extends ../article_edit_layout

block b-editor
    b-editor(id='editor' width="90%" height="600px" name="content")
    script.
        const edit_iframe = document.getElementById("iframe");
        edit_iframe.contentWindow.document.body.innerHTML = "#{article['content']}"
            .replace(/&lt;/g, '<')
            .replace(/&gt;/g, '>')
            .replace(/&amp;/g, '&')
            .replace(/&quot;/g, '\"');

block submitButton
    button(class="articleSubmit" id='submit' name='penobrol' onclick='commonStart(this)') share